.graph-container {
    width: 95vw;
    height: 95vw;
    margin: 0 auto;
    margin-top: 2.5vw;
    
}

.App{
    text-align: center;
}

.equation{
    padding-top: 2.5vw;
    width: 95vw;
    margin: 0 auto;
    padding-bottom: 2.5vw;
}

@media(orientation: landscape){
    .graph-container {
        width: 60vh;
        height: 60vh;
        
        
    }
    .equation{
        
        width: 60vh;
        
    }
}